body {
      font-family: 'Inter', sans-serif;
      background-color: #000;
      color: white;
    }
    .section {
      padding: 100px 15px;
    }
    .section h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    .section p {
      font-size: 1.1rem;
    }
    .responsive-img {
      width: 100%;
      height: auto;
      max-height: 500px;
      object-fit: cover;
    }

}
.col-md-4 img {
    width: 100%;
    height: auto;
    object-fit: cover;

}
.button{
    background-color: #ff3300;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #a8a4a4;
    color: rgb(114, 17, 4);
}
.col-md-4{
      display: grid;
    grid-template-columns: auto auto auto;
}
.nav-link active {
    color:red ;
}
   